# Entorno virtual
venv/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de Django
db.sqlite3

# Archivos estáticos generados
staticfiles/

# Variables de entorno
.env

# Configuración de VS Code
.vscode/
